.passenger{
    border:7px;
    margin: 10px;
    padding:0px;
    height: 600px;
    width: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightseagreen;
    border-radius: 3px;

}
.ticket{
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    margin-right: 50px;
    border-radius:5px;
}
.ticket1{
    margin-left: 200px;
    margin-right: 200px;
}
.passenger1{
    border:7px;
    margin: 10px;
    padding:0px;
    height: 300;
    width: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightseagreen;
    border-radius: 3px;
}